@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  font-size: 80px;
  display: inline-block;
  display: flex;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 140px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}
.card:before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.card:after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

.card.spade:before,
.card.spade:after {
  content: "\2660";
}
.card.club:before,
.card.club:after {
  content: "\2663";
}
.card.heart:before,
.card.heart:after {
  content: "\2665";
  color: red;
}
.card.diamond:before,
.card.diamond:after {
  content: "\2666";
  color: red;
}
